<div>
    <h1>Infografía james</h1>

    <img src="assets/img/messi.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="p">
        <p>Nombre:"Leonel Messi"</p>
        <p>bio: "futbolista argentino que juega como delantero o centrocampista en el Paris Saint-Germain de la Ligue 1 de Francia. Es internacional con la selección de Argentina, equipo del que es capitán y máximo goleador histórico."</p>
        <p>nacimiento:"24 de junio de 1987"</p>
        <p>seleccion:"Argentina"</p>
        <p>equipo:"PSG"</p>
    </div>
</div>
<div class="botonA">
    <a class="btn btn-primary btn-lg" role="button" routerLink="/jugadores">volver a Home</a>
</div>